
.experience::before {
    content: '';
    display: block;
    position: absolute;
    background: url("../images/office.jpg") no-repeat center fixed;
    background-size: cover;
    opacity: 1;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}


.experience {
    width: 100%;
    position: relative;
    z-index: 1;
    background: rgba(0,0,0,1);
    background-size: cover;
}

.section-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-heading h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 7rem;
}

.section-heading button {
    margin: 2rem auto 2rem auto;
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
}

.section-heading button:hover {
    background-color: #00ACEE;
    color: white;
}

.timeline ul {
    border-left: 4px solid #ffe838;
    border-radius: 1rem;
    /* background-color: rgba(15, 15, 15, 0.8); */
    background-color: rgba(255,255,255,0.9);
    margin: 0 auto;
    padding: 5rem;
    position: relative;
    list-style: none;
    text-align: left;
    width: 55%;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);

}

.timeline h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: 0.8;
    /* color: white; */
    color: #008000;
    text-align: left;
}

.mtf {
    color: #00ACEE;
}

.talentpath {
    color: #00ACEE;
}

.timeline p {
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 2;
}

.timeline .date {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
    color: black;
    line-height: 1.5;
}

.timeline .date:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .date::before,
.timeline .date::after {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

/*Style for month and year*/
.timeline .date::before {
    content: attr(data-date);
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: black;
}

/* The timeline circle */
.timeline .date::after {
    content: '';
    box-shadow: 0 0 0 4px #00ACEE;
    border-radius: 100%;
    left: -6rem;  /*Styling for the dot*/
    height: 1.5rem;
    width: 1.5rem;
    background-color: #313534;
}
/* End timeline */